@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 138, 177, 153; /* RGB values for #8ab199 */
  --height-footer: 4rem;
  --height-header : 6rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 138, 177, 153; /* RGB values for #8ab199 */
  }
}

body.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 28, 28, 26; /* RGB values for #8ab199 */
}

body {
  display: flex;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

/** VARIABLES **/

header{
  height: var(--height-header);
}

footer{
  height: var(--height-footer)!important;
}

/* section {
  height: calc(100vh - ( var(--height-footer) + var(--height-header) ));
  overflow: hidden;
} */

/** LOGO **/

.logo {
  opacity:0.4;
  transition:all .5s;
}

.logo-active{
  opacity:1;
}

/** TITLES & TEXTS **/

p, a, ul, li, h1{
  font-weight:300;
}

h2, button{
  font-weight: 200;
}

h3{
  font-weight: 200;
  text-transform: uppercase;
}


/** BUTTONS **/

button.cta {
  transition: opacity .5s, border-radius .5s, border-weight .8s; /* Specify properties */
  opacity: 0.3;
  border: 1px solid white;
  border-radius: 2em;
  text-transform: uppercase;
}

button.cta:hover {
  border-radius: 1em;
}

button.cta-active, button.cta:hover {
  opacity: 1;
  /* will-change: opacity; Uncomment if needed for performance */
}


/* GRAINY BACKGROUND */

svg.grain-background {
  opacity: 0.3;
  z-index: -2;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

svg.grain-background, rect {
  width: 100vw;
  height: 100%;
}

/* NAVIGATION */


.hover-underline-animation, .underline-animation {
  position: relative;
  display: inline-block;
}

.hover-underline-animation::after, .underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0; /* Start from the left */
  background-color: currentColor; /* color of the underline */
  transition: width 0.5s ease; /* Transition only the width */
}

.hover-underline-animation:hover::after, .underline-animation::after {
  width: 100%; /* Expand to full width on hover */
}

.section-class-name {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* FIRST SECTION */
#section-1{
  align-items: center;
}


/* SECOND SECTION PROJECTS */

 figure {
  display: none;
  left:20%;
  top:-1em;
}

/* SECOND SECTION MENU ITEMS */


ul.menu li {
  padding-top: .8em;
  padding-bottom: .8em;
}

ul.menu li::before {
  z-index:-1;
	content: '';
	width: 80%;
	height: 2px;
	position: absolute;
	left: 0;
  bottom:0;
	border:none;
	outline:none;
	transform-origin: 0 0;
	transform: scale3d(0,1,1);
  background: linear-gradient(45deg, rgb(455,455,455), white);
}

/* 
.menu__item-0:before {
  background: linear-gradient(45deg, #FF97B7, #FFC8DD);
}

.menu__item-1:before {
	background: linear-gradient(45deg, #1FB3B1, #349EC2);
}

.menu__item-2:before {
	background: linear-gradient(45deg, #9AB6FF, #526EFC);
}

.menu__item-3::before {
	background: linear-gradient(45deg, #FFA800, #FFDA00);
}

.menu__item-4::before {
	background: linear-gradient(45deg, #F22D2F, #000000);
}

.menu__item-5::before {
  background: linear-gradient(45deg, #FF97B7, #FFC8DD);
} */


ul.menu li::before {
  transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
	transform: scale3d(1,1,1);
}

ul.menu li:hover::before {
  transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
	transform: scale3d(1.2,1,1);
	outline:none;
}

/* PROJECTS SECTION */

#section-2{
  align-items: flex-start;
  width: 100%;
  padding: 0 10%;
}

/* Set the default state of all <li> elements to fully transparent */
ul.menu li {
  transition: opacity .8s, padding .8s; /* Smooth transition for opacity change */
}

/* When hovering over the <ul>, set all <li> elements to partially opaque */
ul.menu:hover li {
  opacity: 0.3; /* Partially transparent */
}

/* Set the <li> element that is being hovered over to fully opaque */
ul.menu li:hover {
  padding-left:1rem;
  opacity: 1; /* Fully opaque */
  cursor: pointer;
}

ul.menu li:hover svg{
  transform: translate3d(0.2em, -0.2em, -0.2em);
}

/* SKILLS SECTION */

.border-t-1{
  border-top-width: 1px;
}

/* PROFILE SECTION */

#section-4{
  width: 100vw;
}

/* ABOUT SECTION */

#section-5{
  width: 100vw;
}












