@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 138, 177, 153; /* RGB values for #8ab199 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 138, 177, 153; /* RGB values for #8ab199 */
  }
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

